<!DOCTYPE html>
 <html>
  <head>
	   <title>Designing with the mind in Rozie's mind (week 5)</title>
	   <meta charset="utf-8"/>
	   <meta name="viewort" content="width=device=width initial-scale=1.0"/>
	   <link href="../style/week1.css" type="text/css" rel="stylesheet">
  </head>

  <body>
   
   <figure>
    <a href="../index.html">
    <img src="../images/back.png">
   </a>
   </figure>

   <div class="wrapper">

	   <h1>Week 5: Consequenties voor ontwerpen</h1>
	   <div class="header">
	  	<img src="../images/design.jpg" alt="design" width="700px" height="466px">
	   </div>
       <h2>“Houd rekening met de beperkingen van de gebruiker.”</h2>

       <p></p>

       <h2>Het hoorcollege in het kort:</h2>

       <P>Mensen hebben beprekt aandacht: het werkgeheugen kan zich maar op enkele zaken richten. Het gevolg is dat men selectief waarneemt: <br/><br/>
          - Inattentional blindness: je aandacht is ergens anders op gericht, waardoor je een voorwerp of geberutenis niet opmerkt.<br/>
          - Change blindness: Je neemt de verandering niet waar als hij heel geleidelijk is.<br/><br/>

          1.  Mensen richten hun aandacht op hun doel en niet op de middelen.’<br/>
          2.  We hebben meer aandacht vor zaken die gerelateerd zijn aan onze doelen.<br/>
          <i>Concequesnties voor design: zorg dat de veranderingen zichtbaar zijn. Richt de aandacht van de gebruiker op de verandering. Zaken waar gebruikers hun aandacht op richten worden beter onthouden.</i><br/>
          3.  Mensen gebruiken een checklist of ander hulpmiddel om dingen te onthouden.<br/>
          4.  Mensen zien wat tot hun doel leidt.<br/>
          <i>Je moet gebruik maken van de kennis van je doelgroep. </i><br/>
          5.  We hebben sterke voorkeur voor bekende wegen/manieren.<br/>
          6.  We werken in drie stappen: doel, uitvoering, evaluatie.<br/>
          <i>Dit gaat zó automatisch dat we het vaak niet door hebben. The thought cycle: goal (provide clear paths), execute (provide clear information scent), evaluate (provide feedback).</i><br/>
          7.  Als het doel bereikt is, vergeten we ‘op te ruimen’. <br/><br/>

          <b>“It’s easier to recognize things we have previously experienced than it is to recall those things from memory.”</b><br/><br/>
          Efficient memoriseren:<br/>
          - Maak het materiaal zo zinvol mogelijk (eerst begrijpen, verbanden leggen) dan pas inprenten.<br/>
          - Maak gebruik van ‘auditief’(hardop lezen of veel beter: vertellen aan een ander)en/of ‘visueel’ (schema, samenvatting, mindmap) hulpmateriaal.<br/>
          - Plan herhaling van de leerstof vooral kort na het eerste inprenten, spreid de herhalingsbeurten daarna steeds verder in de tijd.<br/>
          - Beter viermaal een kwartier inprenten dan eenmaal één uur aan één stuk.<br/><br/>
          Perceptie activeert neuraal netwerk in de hersenen. Dat is het netwerk waarin de herinnering ligt opgeslagen: herkennen.
          We zijn in staat om complexe patronen te herkennen, mits het betekenis voor ons heeft. 
          Hoe meer je met informatie doet, des te beter kun je die onthouden.<br/><br/>
          - Vragen stellen bij de stof; kritisch leen versus stampen.<br/>
          - Je voorbereiden op open vragen versus mc vragen.<br/>
          - Eigen voorbeelden bedenken ipv overnemen.<br/>
          - Opdrachten maken ipv colleges volgen.<br/>
          - Schrijven ipv typen.<br/><br/>
          In design:<br/>
          1.  See and choose is easier than recall and type<br/>
          2.  Use picturess where possible to convey functions:<br/>
          - Use thumbnail images to depict full sized images compactly.<br/>
          - The larger the number of people who will use a functon, the more visible the function should be.<br/>
          - Use visual cuse to let users recognoze where they are.<br/>
          - Make Authentication information easy to recall.<br/><br/>
                  </p>


       <h2>Wat neem ik deze week mee:</h2>
         <p>
          Het hoorcollege heeft me duidelijke handvatten meegegeven wat betreft do’s en don’t’s in design.
Wat ik vooral interesant vond is hoe wij als geheel best onoplettend kunnen zijn als we een taak uitvoeren. Er zijn genoeg filmpjes te vinden over experimenten hierin (the Invisible Moneky gaat nog een keer terug komen in dit blog). <br/><br/>

Omdat onze aandacht en korte termijn geheugen zo beperkt is, maken gebruik van allerlei soorten steuntjes. Reminders op onze smartphones, boekenleggers bij de pagina waar we gebleven zijn, boodschappenlijstjes, etc. Als designer moet hier op ingespeeld worden en gebruikers moeten hierbij ondersteund worden.<br/><br/> 

We kiezen ook vaak de optie dat ons het minste hersencapaciteit kost, al zou het meer moeite kosten, omdat het bekend bij ons is. Een grappig voorbeeld van een project waar ik met groepje aan werk. We hebben de rollen verdeeld naar ons 
eigen kunnen, dus niemand heeft zichzelf iets nieuws aangeleerd. Dit komt omdat we een deadline hadden. We hadden simpelweg geen tijd om nieuwe dingen te leren en dit was de makkelijkste optie. Dit komt vaak voor in onze manier van 
handelen. <br/><br/>

Mijn klasgenoot heeft toegekeken hoe ik met het programma InDesign aan het werk was en bleef er maar op hameren dat dat handiger kon, maar ik deed het maar op de manier dat ik het kende en kon. Maar InDesign is een complex programma. Ik heb mezelf ooit aangeleerd hoe ik er mee kan werken op basis van herkennen.<br/><br/> 

Uiteindelijk, na uren instructie, heeft mijn klasgenoot het toch zo ver gekregen dat ik zijn manier van werken had aangeleerd. Nu herken ik aspecten van InDesign wél. <br/><br/>
DIt heeft aan drie factoren gelegen, volgens het NNG:<br/>

Practice: how many times a chunk has been used in the past (door het te oefenen, kan ik beter in InDesign werken).<br/>
Recency: how recently a chunk has been used (doordat ik InDesign vaker gebruik, blijft de informatie beter plakken).<br/>
Context: what is present in the person’s focus of attention (doordat ik InDesign nu met verslagen/school/CMD associeer blijft alles wat ik er over heb geleerd relevant.).<br/><br/>





         <b>Groepsopdracht:</b><br/>
         Deze week had mijn groepje geen opdracht om voor te bereiden of te presenteren in de les van vrijdag.
         </p>


       <h2>Bronnen</h2>
        <p>
        - Hoofdstuk 8 en 9 van <i>Designing with the Mind in Mind</i>, Jeff Johnson <br />
        - <a href="https://www.nngroup.com/articles/recognition-and-recall/"> Dit artikel </a>, Memory Recognition and Recall in User Interfaces van de NNg <br />
 
        
        <br /><br /><br />
        </p>
  </div>
   </body>
  </html>