<!DOCTYPE html>
 <html>
  <head>
	   <title>Designing with the mind in Rozie's mind (week 7)</title>
	   <meta charset="utf-8"/>
	   <meta name="viewort" content="width=device=width initial-scale=1.0"/>
	   <link href="../style/week1.css" type="text/css" rel="stylesheet">
  </head>

  <body>
   
   <figure>
    <a href="../index.html">
    <img src="../images/back.png">
   </a>
   </figure>

   <div class="wrapper">

	   <h1>Week 7: Oog-hand-coordinatie en tijdsbeleving</h1>
	   <div class="header">
	  	<img src="../images/coordination.jpg" alt="coordination" width="700px" height="466px">
	   </div>
       <h2><i>“Odd as it may seem, I am my remembering self, and the experiencing self, who does my living, is like a stranger to me.” – <b>Daniel Kahneman</b></i></h2>

       <p>Daar zijn we dan, week 7, de laaste week van het van PsI. Hoe is de tijd zo snel gegaan? Dat kan ik inmiddels wel een beetje beantwoorden...</p>

       <h2>Het hoorcollege in het kort:</h2>

       <P><b>Fitt’s law: beweging naar doel</b><br /><br />
        De tijd die je nodig hebt om van a naar b te bewegen heeft te maken met de snelheid van je aparaat, maar het gaat vooral om de afstand en de breedte van je doel. In praktijk betekent het dat je grote, opvallende knoppen moet maken, als het kna, zodat de gebruiker er makkelijk op kan klikken. <br /><br />
        - Hoe dichterbij en hoe groter het object, des te makkelijker aan te klikken.<br />
        - Kleine objecten groter maken is effectiever dan grote objecten groter maken.<br />
        - Objecten die dichtbij staan, nog dichterbij brengen is weinig effectief.<br />
        - Objecten aan de rand van een scherm zijn makkelijker te raken en kunnen dus kleiner zijn. <br /><br />
       <b> Steering law</b><br /><br />
        Als je door een smal pad moet gaan, moet je heel precies richten met je muis en dan kost het meer tijd om bij het doe te komen. Als het pad breed is, gaat dat natuurlijk sneller. It’s all about the ease of moving.<br /><br /> 
        <b>Tijdsbeleving</b><br /><br />
        Tijd als concept, een manier om te vertellen over het verleden (de geschiedenis). <br />
        Tijd als meet instrument.<br /> 
        Tijd is relatief. In de rij staan kan prima zijn, als je op iets leuks staat te wachten. <br /><br />
        We beleven tijd natuurlijk allemaal anders. Voor kinderen gaat tijd langzamer omdat ze heel veel dingen voor het eerst meemaken, en eerste herinneringen nemen veel plaats op in ons geheugen. Daarom gaat tijd voor ouderen langzaam, omdat we wat in herhaling vallen. We hebben veel dingen al een keer eerder mee gemaakt. Om je tijd te verlengen moet je dus vaak nieuwe ervaringen opdoen.
        <i>Experienced time</i>: tijdsbeleving tijdens een gebeurtenis.<br /><br />
        <i>Remembered time</i>: de ervaring van de tijdsverloop achteraf. <br /><br />
        <i>De peak-end-rule</i>: het piekmoment (wat is het? Hoe kan ik die inbouwen?) en de eindervaring (hoe zorg ik ervoor dat die niet te pijnlijk is?) van de klant bepalen de beleving. <br /><br />
        Er is een verschil tussen de <i>experiencing self</i> (dat wat je op het moment zelf meemaakt) en de <i>remembering self</i> (wat je onthoudt, wat het meest (positief) uitsprong). <br /><br />
        De perceived responsiveness (hoe lang het duurt voor je een reactie krijgt) is net zo belangrijk als de performance (effectiviteit) van een systeem.<br /><br /> 
        An interactive system responsiveness is the most important factor in determining user satisfaction.<br /><br />
        Als iets langer dan 10 seconden duurt (bijv. het laden van een onderdeel), móet je je gebruiker dit laten weten dmv feedback. In een gesprek doen wat dat dmv “uhu” of  “hmm”. We houdne niet van stilte en we willen altijd dat er wat gebeurt. <br /><br />
        <i>“Time is the most undefinable yet paradoxical of things. The past is gone, the future is not come, and the present becomes the past, even while we attempt to define it.” –<b> Charles Colton</b></i><br />
        </p>

        <h2>Wat neem ik deze week mee:</h2>
        <p>
        We hebben tot nu toe geleerd over responsive design in het vak XT1, waar we twee responsive websites hebben gebouwd. Een website van responsief zijn maar slecht werken. Op dat moment moet er dan feedback gegeven worden, om zo een beetje geduld in de gebruiker op te bouwen. Dit kan op een aantal manieren:<br />
        - Laat je gebruiker onmiddelijk weten dat hun input ontvangen is.<br />
        - Geef wat indicatie van hoe lang het gaat duren.<br />
        - Laat ze vrij zij om andere dingen te doen tijdens het wachten.<br />
        - Anticipeer op veel voorkomende verzoeken.  <br /><br />

        Ook zijn er een aantal guidelines meegegeven uit het boek: <br />
        - Erken gebruikersacties onmiddelijk.<br />
        - Laat de gebruiker weten wanneer de software bezig is en wanneer niet.<br />
        - Animeer bewegingen soepel en duidelijk.<br />
        - Sta gebruikers toe om (langdurige) acties af te breken.<br />
        - Sta gebruikers toe om in te schatten hoeveel tijd een actie zal kosten.<br />
        - Laat gebruiers op eigen tempo werken. <br />
        Met inmiddelijk wordt 0.1 seconden bedoeld. <br /><br />

        Omdat wij als mens gebouwd zijn op communicatie en dus reacties, verwachten we dat ook van onze machines. Maar als een aparaat of programma niet geprogameerd is om te zeggen dat ie nog even bezig is, gaat ie dat ook niet doen. En zo valt er een (voor ons) ongemakkelijke en oncomfortabele stilte.  <br /><br />

        <b>Groepsopdracht:</b><br/>
        Deze week moesten we een experiment uitvoeren. We hebben er voor gekozen om dat te doen met Fitt’s law, om het benalg hiervan te demonstreren. We 
hebben deze link aan de klas gegeven:<br /><br />

        <a href="https://www.psytoolkit.org/experiment-library/fitts.html"> Fitt's Law Experiment</a><br /><br />

In de demo krijg je een geel vakje te zien. Het is de bedoeling dat je er op klinkt en vervolgens over het rode vakje (wat dan tevoorschijnt komt) heen gaan met je muis. Dit varieert in moeilijkheisgraad (groot, klein, dichtbij, verweg, etc). Dit heeft natuurlijk ook te maken met de steering law.<br /><br />

        </p>


        <h2>Bronnen</h2>
        <p>
        - Hoofdstuk 13 en 14 van <i>Designing with the Mind in Mind</i>, Jeff Johnson <br />
        - NNg's <a href="https://www.youtube.com/watch?v=M-9FbUJk6tI">uitleg</a> over Fitt's Law <br />
        - Het <a href="https://psychhelp.com.au/what-does-the-still-face-experiment-teach-us-about-connection/">Still-face Experiment</a><br />
        - <a href="https://www.smashingmagazine.com/2011/01/guidelines-for-responsive-web-design/"> Responsive Web Design - What It Is And How To Use It</a> van Smashing Magazine
        
        <br /><br /><br />
        </p>
  </div>
   </body>
  </html>