<!DOCTYPE html>
 <html>
  <head>
	   <title>Designing with the mind in Rozie's mind (week 6)</title>
	   <meta charset="utf-8"/>
	   <meta name="viewort" content="width=device=width initial-scale=1.0"/>
	   <link href="../style/week1.css" type="text/css" rel="stylesheet">
  </head>

  <body>
   
   <figure>
   	<a href="../index.html">
   	<img src="../images/back.png">
   </a>
   </figure>

   <div class="wrapper">

	   <h1>Week 6: Leren en Beslissen</h1>
	   <div class="header">
	  	<img src="../images/leren.jpg" alt="lezen" width="700px" height="466px">
	   </div>
     <h2> "We zijn immers gewoontedieren."</h2>

     <p></p>

     <h2>Het hoorcollege in het kort:</h2>

      </p>
       Er zijn 3 delen in het brein:<br /><br />
          De neocortex: Probleemoplossend vermogen, plannen, taal, doelbewust gedrag.<br />
          Mammalian brain: Emoties, sociale bindingen<br />
          Reptilian brain: Basale lichamelijke functies, zoals ademhaling, reflexen, etc<br /><br />
          Daniel Kahneman was een econoom en een psycholoog. Hij bedacht het Two Minds model. Systeem 1 is instinctief en intuitief. Het is onbewust, snel en om maar zo te zeggen, automatische piloot. De kans is groot dat we dagelijkse bezigheden vaak op dezelfde manier doen en dat is goed omdat we dan zo energie overhouden voor bijzondere bezigheden. Hier hebben we systeem 2 voor. In systeem 2 wordt er goed nagedacht en wordt er veel moeite gedaan. 2 is dus langzamer dan 1. <br /><br />
          Incidental learning – Uit ervaring, door dingen na te doen, door te kijken. Dit doen we aan de hand van mirrorneurons.<br /><br /> 
          Maak systemen op zo veel mogelijk vlakken makkelijk voor de gebruikers, toch betrouwbaar.<br /><br />
          We leren het snelst door vaak te oefenen.<br /><br />
          Taakanalyse is misschien niet iets wat we vorig jaar hebben geleerd. Dit wordt ingezet om te kijken naar wat je doelgroep nodig heeft.<br /><br />
          Een conceptual model is een plan voor een design, op basis van de user’s mental model. <br /><br />
          <b>Consistentie is alles</b>. <br /><br />
          1.  Fear of loss is more important than gain.<br />
          2.  We are biased by how choices are worded (the framing effect).<br />
          3.  We are biased by our imaginations and memories.<br /><br />
          Decision support software guidelines:<br />
          - Provide all options<br />
          - Help people find alternatives<br />
          - Porvide unbiased data<br />
          - Dont’make people calculate<br />
          - Check assertions and assumptions. <br />

           </p>

     <h2>Wat neem ik deze week mee:</h2>

     <p>
      Geleerde activiteiten uitvoeren is eenvoudig. Nieuwe dingen uitvoeren is moeilijk. Een mooi voorbeeld uit het boek is het alfabet opnoemen. Dat lukt iedereen wel. Maar wanner er wordt gevraagd om het anders om te noemen (van Z tot A), raken de meesten de kluts kwijt. Van A tot Z is eigenlijk een routine (automatisch). Dit gaat met weinig gedachte. Van Z tot A gaat natuurlijk wat meer gedachte in omdat het nieuw is. En toch, als het genoeg wordt herhaald, wordt het ook automatisch. <br /><br />
      <img src="../images/system.png" width="650px"><br /><br />
      We vinden het af en toe leuk om onszelf uit te dagen met puzzels en radzels, maar dat wordt niet altijd als fijn ervaren bij taken uitvoeren. 
      Bealngrijke punten uit het boek:<br />
      - Prominently indicate system status and users’ progress toward their goal.<br />
      - Guide users toward their goals<br />
      - Tell users explicitly and exactly what they need to know.<br />
      - Don’t make users diagnose system problems<br />
      - Minimize the number and complexity of settings.<br />
      - Let people use perception rather than calculation<br />
      - Make the system familiar.<br />
      - Let the computer do the math.<br /><br />


      
      <b>Groepsopdracht:</b><br/>
      Deze week moest ons groepje een wetenschappelijk artikel presenteren. Daniel Kahneman was wat voorgekomen in het werkcollege, dus hebben we er voor gekozen om het over zijn theorie te houden.<br /> <br />  

      <a href="https://www.scientificamerican.com/article/kahneman-excerpt-thinking-fast-and-slow/">In dit artikel</a> door Daniel Kahneman zelf hebben we veel informatie gevonden: <br /> <br /> 
      De reden dat we het systeem 1 en 2 noemen is simpel: de bijnamen nemen minder ruimte in ons geheugen op dan bijvoorbeeld automatisch systeem. Hierdoor wordt het makkelijker te begrijpen.<br /> <br />  
      Iedereen is zich enigszins bewust van het beperkte aandachtsvermogen en ons sociale gedrag houdt rekening met deze beperkingen. Wanneer de bestuurder van een auto bijvoorbeeld een vrachtwagen inhaalt op een smalle weg, stoppen volwassen passagiers heel verstandig met praten. Ze weten dat het afleiden van de chauffeur geen goed idee is, en ze vermoeden ook dat hij tijdelijk doof is en niet wil horen wat ze zeggen.<br /> <br /> 

      We hebben het volgende filmpje aan de klas laten zien: <a href="https://www.youtube.com/watch?v=IGQmdoK_ZfY"> The Monkey Business Illusion.</a><br /> <br />
      Vele duizenden mensen hebben de video gezien en ongeveer de helft van hen merkt niets ongewoons op. Het is de telopdracht - en vooral de instructie om een van de teams te negeren - die de blindheid veroorzaakt. Niemand die de video bekijkt zonder die taak, zou de gorilla missen. Zien en oriënteren zijn automatische functies van Systeem 1, maar ze zijn afhankelijk van de toewijzing van enige aandacht aan de relevante stimulus. De kijkers die de gorilla niet zien, zijn er aanvankelijk zeker van dat hij er niet was - ze kunnen zich niet voorstellen dat ze zo'n opvallende gebeurtenis zouden missen. De gorillastudie illustreert twee belangrijke feiten over onze geest: we kunnen blind zijn voor het voor de hand liggende, en we zijn ook blind voor onze blindheid.

     </p>

 <h2>Bronnen</h2>

     <p>
      - Hoofdstuk 10, 11 en 12 van <i>Designing with the Mind in Mind</i>, Jeff Johnson <br />
      - <a href="https://www.scientificamerican.com/article/kahneman-excerpt-thinking-fast-and-slow/">Dit artikel</a>, Of 2 Minds: How Fast and Slow Thinking Shape Perception and Choice<br />
      - <a href="https://www.youtube.com/watch?v=IGQmdoK_ZfY">Dit</a> filmpje over the Invisible Monkey<br />


     </p>

    </div>
  </body>
</html>
