<!DOCTYPE html>
 <html>
  <head>
	   <title>Designing with the mind in Rozie's mind (week 1)</title>
	   <meta charset="utf-8"/>
	   <meta name="viewort" content="width=device=width initial-scale=1.0"/>
	   <link href="../style/week1.css" type="text/css" rel="stylesheet">
  </head>

  <body>
   
   <figure>
    <a href="../index.html">
    <img src="../images/back.png">
   </a>
   </figure>

   <div class="wrapper">

	   <h1>Week 1: Waarnemen</h1>
	   <div class="header">
	  	<img src="../images/waarnemen.jpg" alt="kijken" width="700px" height="466px">
	   </div>
       <h2>Wat we zien hoeft niet altijd te kloppen</h2>

       <p>Zo, daar gaan we dan. De eerste dag van het nieuwe semester. We zijn gelijk begonnen met niet alleen een hoorcollege, maar ook een gast college van een oud CMD student van de HHS. Een lekker begin!</p>

       <h2>Het hoorcollege in het kort:</h2>

       <P>Onze waarneming wordt vertekend door ervaring (verleden), context (heden) en doelen (toekomst).<br />
        1. <b> Perceptional patterns/mental frames</b><br />
        Wat je ziet wordt beinvloed door wat je verwacht te zien op basis van ervaring en is op lange termijn.<br /> 
        2. <b> Habituation</b><br />
        Repeated exposure dulls our sensitivity. Vaak is het zo dat we aan dingen gewend raken tot het normaal is.<br />
        3.  <b>Perceptual priming</b><br />
        Het verhaal wat je vooral hoort heeft invloed op wat je daarna (kan) zien. Dit is van korte duur.<br />
        4.  <b>Attentional blink</b><br />
        Je ben heel even weg, al is het een halve seconde, waardoor je misschien wat mist.<br />
        Je waarneming wordt beinvloed door je doelen. We filteren veel informatie maar nemen niet alles op.
        Voor design betekent het dat je zo helder mogelijk moet zijn:<br />
        1. Vermijd ambiguiteit
        2. Wees consistent
        3. Wees bewust van de doelen van de gebruikers.<br />
        <i>"Our vision is optimized to see structure/details. We have a need for visual structure."</i> 
         </P>

       <h2>Het gastcollege in het kort:</h2>

       <p>Maaike Bruggeling is 2 jaar geleden afgestudeerd van de HHS en is werkzaam als UX designer bij CGI Rotterdam, en heeft ons bekend gemaakt met inclusive design.<br />
        Accessibility is het principe om websites toegankelijk te maken voor alles gebruikers. 
        25% van de nederlandse bevolking heeft een beperking, of het nou permanent (één arm) of situationeel (gebroken arm) is. Ze gaf ons voorbeelden van hoe mensen met een bepaalde beperking een website ervaart. Kleurenblinde zien bijvoorbeeld sommige logos minder goed, of foutmeldingen bij het inloggen. Mensen die een screenreader gebruiken horen vaak te veel of te weinig. Mensen die doof of slecht horend zijn worden wel een s verplicht om (terug) te bellen. <br />
        Ons doel als designer moet zijn dat ons werk toegankelijk is voor iedereen, dus als we ons nu al inlezen op inclusive design, gaat het ons later best wat werk schelen. 
        </p>

        <h2>Wat neem ik deze week mee</h2>
        <p>Er is zo veel om rekening mee te houden, dat het bijna onmogelijk lijkt om voor iedereen te designen. Er waren veel dingen waarvan ik wel wist dat het bestond, maar nog niet bij stil heb gestaan. Voornamelijk hoe mensen met een beperking een website ervaren. Ik heb zelf (voor zo ver ik weet) geen permanente beperkingen, dus als ik bijvoorbeeld een home pagina aan het maken ben, denk ik aan wat ik zie. Maar iemand die kleurenblind is, die ziet natuurlijk heel wat anders. Hier ga ik veel meer bij stil staan in toekomstige projecten. <br /><br />
        We zijn in het hoorcollege een beetje op de <b>Gestalt</b> principes in gegaan, maar ik vond het zo interessant dat ik wat meer research er op heb gedaan. Het is behoorlijk complex, met veel ‘moeilijke’ termen, maar naar mijn idee is het heel nuttig om te weten. <br /><br />
        <i>“They argued that the psychological "whole" has priority and that the "parts" are defined by the structure of the whole, rather than vice versa. One could say that the approach was based on a macroscopic view of psychology rather than a microscopic approach.[10] Gestalt theories of perception are based on human nature being inclined to understand objects as an entire structure rather than the sum of its parts.”</i> <br /><br />
         <i>“The law of Prägnanz implies that, as individuals perceive the world, they eliminate complexity and unfamiliarity so they can observe reality in its most simplistic form. Eliminating extraneous stimuli helps the mind create meaning.”</i><br /><br />
        In het kort, onze hersenen zullen altijd proberen om orde te creeeren van chaos.

        Wat ik ook heb geleerd is dat je een mooie website kan hebben, maar het is niks waard als het niet werkt. Dit zie je terug in de <b>hierarchy of needs</b>. <br /><br />
        <img src="../images/needs.png" alt="hierarchy of needs" width="500px" height="375px"> <br /> <br />
        Zoals je ziet is functionality en reliability essentieel voor een goed design. <br /> <br />

        </p>

         <h2>Bronnen</h2>
        <p>
        - Hoofdstuk 1 en 2 van <i>Designing with the Mind in Mind</i>, Jeff Johnson <br />
        - de <a href="https://en.wikipedia.org/wiki/Gestalt_psychology">Gestalt</a> pagina op wikipedia <br />
        - <a href="https://www.simplypsychology.org/maslow.html"> Maslow's Hierarchy of Needs</a> <br/>
        - <a href="https://www.smashingmagazine.com/2010/04/designing-for-a-hierarchy-of-needs/">Design hierarchy of needs</a>, Smashing Magazine <br />
        - <a href="https://www.usertesting.com/blog/gestalt-principles">7 Gestalt principles of visual perception</a> <br />
        - <a href="https://blog.prototypr.io/gestalt-principles-applied-to-ux-design-af47bcf4bd28#:~:text=could%20be%20easier%3F-,Gestalt%20theory%20implies%20that%20the%20mind%20understands%20the%20whole%20is,Closure%2C%20and%20Figure%2FGround.">Gestalt Principles Applied to UX Design</a> <br />
        <br /><br /><br />
        </p>
	</div>
   </body>
  </html>