<!DOCTYPE html>
 <html>
  <head>
	   <title>Designing with the mind in Rozie's mind (week 3)</title>
	   <meta charset="utf-8"/>
	   <meta name="viewort" content="width=device=width initial-scale=1.0"/>
	   <link href="../style/week3.css" type="text/css" rel="stylesheet">
  </head>

  <body>
   
   <figure>
   	<a href="../index.html">
   	<img src="../images/back.png">
   </a>
   </figure>

   <div class="wrapper">

	   <h1>Week 3: Lezen</h1>
	   <div class="header">
	  	<img src="../images/lezen.jpg" alt="lezen" width="700px" height="466px">
	   </div>
     <h2>“We’re wired for language, but not for reading.” </h2>

     <p>Is het alweer week 3? Wat gaat de tijd toch hard... Deze week gaan we ons verdiepen in lezen en hoe wij lezen. Toevallig is lezen een van mijn favoriete bezigheden, dus ik ben heel benieuwd wat ik deze week ga ontdekken. </p>

     <h2>Het hoorcollege in het kort:</h2>

     <p>
		Er was veel behoefte om informatie vast te leggen, wat door de hele wereld op andere manieren gedaan werd. Daarvan zijn er veel verloren gegaan in de loop der tijd. In Europa was het Latijns het heel erg goed aan het doen. Met 26 letters kon je veel bereiken.<br /><br />
		Met de komst van de boekdruk kunst ontstond er een soort revolutie. Informatie kon veel sneller en beter verspreid worden, vooral in de vorm van bijbels.<br /><br />
		Neem bijvoorbeeld: het chinese alfabet is heel anders dan het Latijnse. Met een heel andere leeswijze (boven naar beneden) en veel meer ‘letters’ (6000+), visualizeren ze informatie op een totaal andere manier.<br /><br />
		-	Zien (lichaamstaal)<br />
		-	Horen (gesproken taal)<br />
		-	Lezen (teskten)<br /><br />
		Het zien en horen van taal is iets waar we mee worden geboren, maar lezen wordt ons aangeleerd, zelfs pas sinds een paar duizend jaar. <br /><br />
		Is lezen een bottom up (<b>feature driven</b>) of top down (<b>context driven</b>) process? <br /><br />
		-	Bottom up: lijnen, vormen / letters / morfemen / woorden / zinnen<br />
		-	Top down: Uit de context vorm je je een beeld van de inhoud<br /><br />
		Een <b>morfeem</b> is een woord of deel van een woord dat niet verder opgesplitst kan worden en zelfstandig betekenis draagt.<br /><br />
		Lezen heeft ook veel te maken met oog bewegingen die we <b>saccadic</b> eye movements noemen.<br /><br />
		Hoe help je de lezer:<br />
		1.	Gebruik geen termen die de gebruiker niet snapt – het is belangrijk dat de gebruikers zich niet dom gaan voelen, anders kunnen ze sneller afhaken.<br />
		2.	Vermijd moeilijke lettertypes – als het moeilijk te lezen is, is het moeilijk om te doen.<br /> 
		3.	Vermijd te kleine fonts. <br />
		4.	Vermijd tekst op een remoerige achtergrond. <br />
		5.	Vermijd informatie herhaling. <br />
		6.	Vermijd gecentreerde tekst. <br />
		7.	Gebruik zo min mogelijk tekst. <br /><br />
 </p>

     <h2>Wat neem ik deze week mee:</h2>

     <p>Tijdens het werk college hebben we een aantal begrippen geleerd, maar <b>morpheme</b> en <b>saccardic eye movement</b> bleven me vooral heel erg bij omdat ik ze nog niet kende. <br /><br />
	Ik heb een aantal dingen gevonden over morphemes gevonden. In het artiekel van PRESSBOOKS (zie bronnen hieronder) gaan ze hier uitgebreid op in, maar vooral op een heel erg duidelijke manier met lekker veel voorbeelden. Ook vertellen ze over woorden, wat een woord nou eigenlijk is en dat de betekenis van een woord afhankelijk is van zijn vorm. Lijkt eerst allemaal vanzelf sprekend, maar dat komt omdat ik er nooit echt bij stil heb gestaan. Ik heb het natuurlijk allemaal klakkeloos overgenomen. <br /><br />
	Ook heb ik nog wat opgezocht over zowel <b>Broca</b> als <b>Wernicke</b>. Het is allemaal zeer interessant om te weten, maar ik zou nog niet weten hoe ik dit kan gebruiken om een betere designer te worden.<br /><br /> 
	Iets wat me misschien wel kan helpen om beter te designen is <b>saccardic eye movement</b>. 
	De saccade (oogsprong) is een snelle beweging van de ogen die op zoek zijn naar een nieuw fixatiepunt. Uit wikipedia:
	<i>“Deze oogsprongen komen in de oogmotoriek zowel voor bij het lezen als bij het bekijken van foto's of scènes. Tijdens de saccade is de visuele detectiedrempel verlaagd - de fovea is slechts 1 vierkante millimeter groot - maar merkt men dit niet omdat de hersenen dit compenseren door tijdens die interlaps er het meest waarschijnlijke beeld tussenin te voegen. Er is geen waarneming mogelijk omdat de saccade met een dermate grote snelheid gebeurt dat een scherp beeld uitgesloten is. De informatie van wat ontvangen wordt tijdens de saccades wordt daarom door de hersenen onderdrukt.
	Wanneer snelle oogbewegingen plaatsvinden in de slaap (tijdens de actieve droombeleving) spreekt men niet meer van saccades maar van R.E.M. (Rapid Eye Movement).”</i><br /><br />
	De oogsprongen kunnen opgenomen en gemeten worden tijdens usability testing. Waar kijkt men naar, hoe lang, etc. Vanuit deze data kunnen er handige conclusies getrokken worden. Toch is het niet essentieel, want het kan kwalitatieve onderzoek niet vervangen. Vaak kan er niet uitgelegd worden waarom een gebruiker wat langer naar een element kijkt. Daar komt men eerder achter met technieken zoals interviewen, observatie en ervaring. Ook is het best een dure test om uit te voeren, dus kan je beter met A/B testen beginnen. <br /><br />

	<b>Groepsopdracht:</b><br/>
	Met mijn werkgroepje gaan we deze week in de presentatie een paar multiple choice vragen aanbieden aan de rest van de klas: <br /><br />

	<b>1.	Het centrum van Broca is verantwoordlijk voor:</b><br /><br />
	a.	De productie van spraak<br />
	b.	Het begrijpen van spraak <br />
	c.	Het herinneren van spraak<br />
	d.	Het vertalen van spraak<br /><br />

	<b>2.	Wat was Homerus?</b><br />
	a.	De eerste rapper<br />
	b.	Blind<br />
	c.	Allebei<br /><br />

	<b>3.	Wat is een metrum? </b><br />
	a. Ritme <br />
	b. nadruk<br />
	c. verschillend volume<br />
	d. Pauze<br /><br />

	<b>4.	Wat gebeurd er bij een saccade?</b><br />
	a. Oogsprong <br />
	b. Blokkade<br />
	c. Blackout<br />
	d.	Spontaan dingen vergeten <br /><br />


	<b>5.	Wat zijn manieren om lezers te helpen met het begrijpen van teksten?</b><br />
	a. Gebruik mooie en uitgebreide fonts.<br />
	b. Lijn de tekst in het midden uit.<br />
	c. Klein font en veel tekst.<br />
	d. Maak gebruik van visuele hiërarchie. <br /><br />

	<b>6.	Wat betekent phoneme?</b><br />                       
	 a. Hoe iets klinkt?<br />                                   
	 b. Hoe iets eruit ziet?<br />                             
	 c. Hoe je iets schrijft?<br />
	d. hoe je iets spelt<br /><br />

	<b>7.	Wat is het effect als het centrum van broca beschadigd is?</b><br /> 
	a. kunnen niet meer praten.<br /> 
	b. begrijpen niet meer wat er gezegd wordt.<br /> 
	c. hebben problemen met spontaan napraten<br /><br /> 

	<b>8.	Wat is de volgorde van hoe je bottom up leest?</b><br />    
	a. lijnen, vormen > letters>morfomen>woorden>zinnen <br />  
	b. vormen, lijnen>letters>woorden>morfomen>zinnen <br /> 
	c. lijnen, vormen>morfomen >letters>woorden>zinnen<br /><br />



</p>

     <h2>Bronnen</h2>

     <p>
     	- Hoofdstuk 6 van <i>Designing with the Mind in Mind</i>, Jeff Johnson <br />
     	- <a href="https://essentialsoflinguistics.pressbooks.com/chapter/6-2-words-and-morphemes/">Dit</a> artiekel van PRESSBOOKS <br />
     	- <a href="https://www.youtube.com/watch?v=zIo_500V1LM"> 2-Minute Neuroscience: Broca's Area</a> <br />
     	- <a href="https://www.youtube.com/watch?v=03Xtiz_ikw4"> 2-Minute Neurosciende: Wernicke's Area</a> <br />
     	- De wikipedia pagina over <a href="https://en.wikipedia.org/wiki/Saccade">saccade</a> <br />
     	- <a href="https://usabilitygeek.com/what-is-eye-tracking-when-to-use-it/#:~:text=The%20movement%20of%20a%20user's,eyes%20are%20taking%20between%20fixations.">Dit</a> artiekel van Usability Geek <br />

     </p>

    </div>
  </body>
</html>