<!DOCTYPE html>
 <html>
  <head>
	   <title>Designing with the mind in Rozie's mind (week 2)</title>
	   <meta charset="utf-8"/>
	   <meta name="viewort" content="width=device=width initial-scale=1.0"/>
	   <link href="../style/week2.css" type="text/css" rel="stylesheet">
  </head>

  <body>
   
   <figure>
   	<a href="../index.html">
   	<img src="../images/back.png">
   </a>
   </figure>

   <div class="wrapper">

	   <h1>Week 2: Visuele Perceptie</h1>
	   <div class="header">
	  	<img src="../images/visuele perceptie.jpg" alt="kijken" width="700px" height="466px">
	   </div>
     <h2>We zien wat we verwachten</h2>

     <p>Week 2, let’s go! Deze week zijn we verder gegaan met waarnemen. </p>

     <h2>Het hoorcollege in het kort:</h2>

     <p>
      <b>Feiten over waarnemen:</b>  <br />
      - We percieve what we expect <br />
      - Our vision is optimized to see structure <br />
      - We seek and use visual structure <br />
      - Reading is unnatural <br />
      - Our colour vision is limited  <br />
      - Our peripheral vision is poor. <br />
      <br />
      Met deze kennis kunnen we beter designen. <br />
      <br />
      <b>Visuele hierarchie in tekst:</b><br />
      - Verdeel de teskst: hoofdstukken, paragrafen, alinea’s<br />
      - Geef elk onderdeel een informatief kopje<br />
      - Breng een hierarchie aan door middel van een lay-out: font grootte, vet, cursief, witruimte, etc.<br />
      <br />
      Ken je zwaktes, een CMD’er hoeft niet alles te kunnen, maar zorg dat teksten foutloos zijn. Jíj bent verantwoordlijk voor de indeling. 
      <br />
      We nemen verschillen waar, geen absolute waarden.
      <br /><br />
      <b>We hebben moeite met het onderscheiden van</b>:<br />
      - Vage, bleke kleuren<br />
      - Kleine kleurvakken<br />
      - Vlakken ver uiteen<br />
      <br />
      
      <b>Guidelines for using colour</b>:<br />
      1.  Distinguish colours by saturation and brightness as well as hue<br />
      2.  Use distinctive colours<br />
      3.  Avoid colour pairs that colour-blind people cannot distinguish<br />
      4.  Use colour redundantly with other cues<br />
      5.  Separate strong opponent colours<br />
      <br />
      Kleuren hebben voor mensen betekenis, en dat kan wel eens anders zijn in andere culturen. <br />
      <br />
      De kegeltjes in je ogen kunnen moe worden, als je te lang naar een kleur kijkt. <br />
      <br />
      <b>Why is peripheral vision important?</b><br />
      1.  Guides fovea<br />
      2.  Detects motion/danger<br />
      3.  Lets us see better in the dark<br />

       
     </p>


     <h2>Wat neem ik deze week mee:</h2>
     <p>
     Ik moest bij optische illusies gelijk denken aan de foto van de witte en gouden jurk, waarvan de helft van de wereld dacht dat ie blauw en zwart was. Weet je nog?<br /><br />
    <img src="../images/dress.webp" width="600px"><br /><br />
    Ik heb daar een artikel van gevonden op The Verge (zie bronnen) waarin dit fenomeen wordt uitgelegd: “Science explains that our eyes have more difficulty seeing blue light than warmer colors, and that low light situations can make us see things in different shades. With the comic below illustrating how the "different" colors people are seeing could be the result of a white-balance optical illusion. Essentially, this is when our eyes are tricked by the context of what we're looking at — a similar thing is happening in the famous 'checker shadow illusion.' And if you don't believe the colors on the two dresses above are the same, try opening up the comic in an image editor of your choice and use the color picker. They. Are. Identical.” <br /><br />
    <img src="../images/dressone.png"><br /><br />
    Het blijft bijzonder hoe iedereen dingen anders zien, maar het is zeker iets om bewust van te zijn. <br /><br />
	“<i>Designers need to be aware that there are common processing errors and in particular to be aware of visual stress and color blindness so that they can adjust their designs to minimize the impacts of these errors.</i>” – Interaction Design Foundation<br /><br />

	Als wij een tekst lezen, kijken we vaak ook onbewust naar structuur. Teskt wat in stukjes wordt aangeboden is vaak makkelijker te lezen dan bijvoorbeeld een blok. We nemen ook sneller informatie op als een tekst gestructureerd is en kunnen we ons focussen op relevante informatie. <br /><br />


      <b>Groepsopdracht:</b><br/>

        Met mijn werkgroepje hebben we een presentatie gehouden over UX voorbeelden in visuele perceptie en het onderwerp dat we hadden gekozen was ‘the principles of visual design’ van het <b>Nielsen Norman Group</b>. Die zijn als volgt:<br /><br />
      - <b>Scale</b>: The principle of scale refers to using relative size to signal importance and rank in a composition.<br />
      - <b>Visual hierarchy</b>: refers to guiding the eye on the pae so that it attends to design elements in the order of their importance.<br />
      - <b>Balance</b>: occurs when thee is an equally distributed amount of visual signal on both sides of an imaginary axis. <br />
      - <b>Contrast</b>: refers to the juxtaposition of visually dissimilar elements in order to convey the fact that these elements are different.<br />
      - <b>Gestalt</b>: the Gestalt principles capture our tendency to percieve the whole as opposed to individual elements. <br /><br />
      Voor elke principe hebben we een voorbeeld gevonden en getoond uit de UX wereld. 

     </p>
     <h2>Bronnen</h2>
     <p>
      - Hoofdstuk 3, 4 en 5 van <i>Designing with the Mind in Mind</i>, Jeff Johnson <br />
      - <a href="https://www.youtube.com/watch?v=llLVk2fqylA">Optische illusies</a> op youtube <br />
      - <a href="https://www.interaction-design.org/literature/topics/visual-perception#:~:text=Visual%20perception%20is%20the%20ability,are%20perceived%20exclusively%20through%20vision.">Dit artiekel</a> over visual perception op interaction-design.org <br />
      - <a href="https://www.theverge.com/2015/2/26/8118825/white-gold-dress-blue-black-what-color"> Dit artikel </a> van The Verge
      
      

     </p>




    </div>
  </body>
</html>