<!DOCTYPE html>
 <html>
  <head>
	   <title>Designing with the mind in Rozie's mind (week 4)</title>
	   <meta charset="utf-8"/>
	   <meta name="viewort" content="width=device=width initial-scale=1.0"/>
	   <link href="../style/week1.css" type="text/css" rel="stylesheet">
  </head>

  <body>
   
   <figure>
   	<a href="../index.html">
   	<img src="../images/back.png">
   </a>
   </figure>

   <div class="wrapper">

	   <h1>Week 4: Geheugen</h1>
	   <div class="header">
	  	<img src="../images/memory.jpg" alt="lezen" width="700px" height="466px">
	   </div>
     <h2>“Je geheugen is geen bibliotheek.” </h2>

     <p>Week 4 is aangebroken, het is maandag ochtend en ik zit klaar voor het 4e hoorcollege wat over het geheugen zal gaan.</p>

     <h2>Het hoorcollege in het kort:</h2>

     <p>Hoe werkt geheugen en informatie verwerking? <br /> <br />
		Er wordt over de hele hernsenen wat geheugen opgeslagen, en dat kan bij iedereen net wat anders zijn. Herinneringen worden opgeslagen in neurale netwerken. Hoe vaker een neuron wordt geactiveerd, des te sterker wordt de verbinding. S’nachts worden ze opgeslagen in de hippocampus. <br />  <br />
		Een herinnering wordt gemaakt door dat de zintuigen informatie opnemen, dan wordt het opgeslagen en daarna wordt het weer opgehaald.  <br /> <br />
		<b>Sensory memory</b>: via alle zintuigen komt een constante stroom van informatie tot ons en dat is maar heel kort (bijvoorbeeld het voorbij rijden van een bus buiten het raam, een knipperend licht, een voorbij lopend persoon). Dit gaat (vaak) onbewust en is heel beprekt.  <br /> <br />
		<b>Working memory</b>: “Our attention is limited; our memory in imperfect.” Wordt ook wel short-term memory genoemd en is ook maar een paar seconde van duur. Dit gaat meestal ook vanzelf. We letten dan heel erg op beweging, gevaar, gezichten , sex en eten. Het is erg gefocussed en selectief.  <br /> <br />
		De beprekingen van het werkgeheugen: “te veel keus maakt besluiteloos.” <br /> <br />
		Voor de user-face design: <br /> <br />
		1.	Bij modes, geef feedback. (als er uitleg-tekst bij komt, is het design verkeerd.) <br />
		2.	Toon zoektermen (beperk de hoeveelheid informatie) <br />
		3.	Call to action: max. Één per bericht. (Don’t let people feel dumb!) <br />
		4.	Navigational depth <br /> <br />
		The long-term memory works to connect new concepts to those previously learned. <br /> <br />
		<b>Procdural</b> (knowing how) <br />
		<b>Decalarative</b> (knowing that) <br />
		<b>Semantic</b> (general knowledge) <br />
		<b>Episodic </b>(personal recollections) <br /> <br />
		Geheugen is gevoelig voor fouten en emoties, en kan wel kneedbaar zijn.  <br />

	 </p>

     <h2>Wat neem ik deze week mee:</h2>

     <p>
     Ik kende de term <b>navigational depths</b> nog niet, en daar wou ik wel wat meer over weten en hoe het in zijn werking gaat. Als je de term zo in google typt gaat het over navigatie op het water. Okay, dan maar UX er achter zetten, dat werkt dan weer wel. Dit heb ik gevonden:<br /> <br />
		1.	Men vertrouwt op navigatie omdat het makkelijker en sneller is dan bijvoorbeeld search. Het is daarom noodzakelijk dat de navigatie van welke website dan ook van kwaliteit is. <i>“Search is not an activity we look forward to. It's hassle and effort to type in a set of words and then scan a page of results. Give us the right link and we'll click on it every time.”</i><br /> 
		2.	<i>“Breadcrumbs are a navigation aid to help orient people within a website. This kind of orientation is especially important if people are directed to deeper pages on the site from external sources.”</i><br />
		3.	<i>“In order to create a great navigation, the information architecture (IA) and hierarchy of the website must support it. As the sitemap is developed, strive for a </i>“flat navigation,”<i> where the user can access the deepest nested page in the site within one to two clicks. Content is more discoverable when it's not buried under multiple intervening layers. All other things being equal, deep hierarchies are more difficult to use”</i>.<br /><br /> 
		Het verhaal van Clive Wearing deed me heel erg denken aan dat van mijn oma. Dit omdat zij ook leidde aan amnesie. Ze wist vaak niet meer wie ik was, en haar korte termijn geheugen was ook niet goed. Zo kon het een paar minuten of een paar uur zijn, maar soms zelfs in een kort gesprek zelf. Dit was frusterend voor mij, maar ik kan me niet voorstellen hoe erg het voor haar was. Zo was ze daarom soms ook echt net te genieten. <br /><br />
		Onze korte termijn geheugen zorgt ook voor focus, en onze focus is selectief. We letten niet op wat we niet nodig hebben. Daarom is het filmpje van <b>The Art of Misdirection</b> (zie bronnen) zo interessant. De testpersoon heeft zijn aandacht zo bij de poker chip dat hij niet door heeft dat hij ondertussen kaal geplukt wordt. <br /><br />
        Uit de lessen van vorig jaar weet ik ook dat men eerder een website gebruikt als ze bepaalde structuren herkennen. Een escapehatch in de vorm vaan een kruisje (X) is vrijwel altijd rechts bovenin het scherm te vinden. Als die ineens links onderin zit, raken gebruikers misschien in de war en geven ze sneller op. <br /><br />
       <b>Miller’s Law</b><br />
       <i>"The number of objects an average person can hold in working memory is about seven."</i><br />
       Vanuit het design perspectief is het zeer belangrijk om hier rekening mee te houden. De layout en de elementen moeten op een heldere manier worden aangeboden. Te veel opties, en dan kan de gebruiker sneller afhaken.<br />
       <b>Hick’s Law</b><br />
       <i>"The more elements people get, the harder it is to make a choice."</i><br />
       Hoe meer opties, hoe meer een gebruiker zich overweldigd kan voelen. Dit is natuurlijk niet de bedoeling. <br /><br />

       <b>Groepsopdracht:</b><br/>
       Deze week moesten we aan de rest van de klas laten zien wat we hebben gedaan met onze individuele blogs. Bij de mijne heb ik een beetje verteld over de structuur, over bepaalde dingen die mij deze week heel erg hebben geinspireerd en dingen die me op zijn gevallen. 
     </p>

     <h2>Bronnen</h2>

     <p>
     	- Hoofdstuk 7 van <i>Designing with the Mind in Mind</i>, Jeff Johnson <br />
     	- <a href="https://www.uxbooth.com/articles/the-rules-for-modern-navigation/"> Dit</a> artiekel over navigational depths van UX BOOTH<br />
     	- De Netflix serie <a href="https://en.wikipedia.org/wiki/The_Mind,_Explained"> The Mind, Explained </a> <br />
     	- <a href="https://www.cmswire.com/cms/web-engagement/usability-navigation-is-more-important-than-search-007349.php"> Dit </a> artiekel: Navigation is more important than search door Gerry McGovern<br />
     	- De wikipedia pagina over <a href="https://en.wikipedia.org/wiki/Retrograde_amnesia#Brain_structures">amnesie</a> <br />
     	- <a href="https://www.nngroup.com/articles/flat-vs-deep-hierarchy/">Dit</a> artiekel over Flat vs Deep Hierarchy van de NNg <br />
     	- In <a href="https://www.youtube.com/watch?v=GZGY0wPAnus"> deze </a> TED Talk kijken we naar focus. <br />
     	- <a href="https://uxplanet.org/how-human-memory-works-tips-for-ux-designers-12b14071bdf9"> Voorbeelden </a> van hoe geheugen in UX design werkt.<br />

     </p>

    </div>
  </body>
</html>